body {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 100vh;
    background: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gradient {
    width: 100%;
    height: 100vh;
    background: linear-gradient(4deg, yellow 50%, rgba(255,255,255,0) 50.15%);
}

.clock {
    position: absolute;
    top: 37%;
    text-align: center;

    font-family: 'Audiowide', cursive;
    font-size: 110px;
    color: #000;
    mix-blend-mode: difference;
}

.clock-block {
    width: 200px;
    height: 200px;

    border-radius: 25%;
    background-color: yellow;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    height: 200px;

    float: left;
    margin-left: 12px;
    margin-right: 12px;

    font-weight: bold;
    color: yellow;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* section {
    width: 100%;
    height: 100vh;
}

.fon {
    width: 100%;
    height: 100vh;
    background: linear-gradient(15deg, #fff 50%, #000 50.1%);
}

.time {
    color: #000;
    blend-mode: difference;
} */
