body {
    width: 100%;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

section {
    width: 100%;
    height: 100vh;
    background: #000;
}

.gradient {
    width: 100%;
    height: 100vh;
    background: linear-gradient(4deg, #fff 50%, rgba(255,255,255,0) 50.12%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    position: absolute;
    top: 37%;

    font-family: 'Audiowide', cursive;
    font-size: 110px;
    color: #000;
    mix-blend-mode: difference;
}

.clock-block {
    width: 200px;
    height: 200px;

    border-radius: 25%;
    background-color: #fff;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;
}

.separator {
    height: 200px;

    float: left;
    margin-left: 12px;
    margin-right: 12px;

    font-weight: bold;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

#circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    mix-blend-mode: difference;
    pointer-events: none;
    transform: translate(-50%, -50%);
    /* transition: .05s; */
}

/* section {
    width: 100%;
    height: 100vh;
}

.fon {
    width: 100%;
    height: 100vh;
    background: linear-gradient(15deg, #fff 50%, #000 50.1%);
}

.time {
    color: #000;
    blend-mode: difference;
} */
